[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
tweepy = {git = "https://github.com/tweepy/tweepy.git"}
django-model-utils = "*"
arrow = "*"
more-itertools = "*"

[dev-packages]
 black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
