[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
tweepy = {git = "https://github.com/tweepy/tweepy.git"}
django-model-utils = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.7"
