body {
  font-family: 'Open Sans', "Sawarabi Gothic", sans-serif;
}
/*.wf-sawarabigothic { font-family: "Sawarabi Gothic"; } */
.hero-logo {
  font-family: 'Lobster', cursive;
  font-size: 6rem;
}
.hero-description {
  font-size: 1.2rem;
}
.hero-body .button {
  margin: 5rem 0;
}
.brand-logo {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}