{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - Circlet</title>
  {% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'build/css/style.css' %}">
  {% endblock %}
  {% block js %}
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  {% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block footer_js %}{% endblock %}
  <footer class="footer has-background-dark has-text-light">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <span class="footer-logo">Circlet</span>
          <p>
            Circlet は twitter でフォロー中のユーザーの中からイベント参加しそうな人を抽出してカタログ化するサービスです。
          </p>
          <br>
          <p>
            <a href="https://twitter.com/kk6?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="en" data-dnt="true" data-show-count="true">Follow @kk6</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>          </p>
          <p>
            © 2018 kk6
          </p>
        </div>
        <div class="column is-6 is-offset-2">
          <div class="column">
            <h3 class="title is-6">LINKS</h3>
            <ul>
              <li><a class="has-text-light" href="{% url 'index' %}">home</a></li>
              <li><a class="has-text-light" href="https://ashiyahiro.work">ashiyahiro.work</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>