{% extends "base.html" %}
{% load user_extras %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  {% include "_components/navbar.html" %}
  <section class="section">
    <div class="container">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ twitter_user_info.profile_image_url|full }}" alt="Image" style="border-radius: 50%;">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ twitter_user_info.name }}</strong>
              <a href="https://twitter.com/{{ twitter_user_info.screen_name }}"><small>@{{ twitter_user_info.screen_name }}</small></a>
            </p>
            <p>
              {{ twitter_user_info.friends_count }} 人をフォロー中
            </p>
            <p>
              <h6 class="title is-6">Circlet 上のフォロー情報</h6>
              {% if last_synced %}
              <ul>
                <li>フォロー：{{ friendships_count }} 件</li>
                <li>最終同期日時: {{ last_synced }}（{{ last_synced_humanized }}）</li>
              </ul>
              {% else %}
              <p><span class="icon has-text-info"><i class="fas fa-info-circle"></i></span><span class="text-with-icon">Circlet 上にフォロー情報が登録されていません。</span></p>
              {% endif %}
              <form action="{% url 'fetch_twitter_followings' %}" method="post">
                {% csrf_token %}
                <button class="button is-warning">twitterからフォロー情報を取得</button>
              </form>
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>
{% endblock %}