{% extends "base.html" %}
{% load user_extras %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  {% include "_components/navbar.html" %}
  <section class="section">
    <div class="container">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ user.profile_image_url|full }}" alt="Image" style="border-radius: 50%;">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ user.name }}</strong>
              <a href="https://twitter.com/{{ user.screen_name }}"><small>@{{ user.screen_name }}</small></a>
            </p>
            <p>
              {{ user.friends_count }} 人をフォロー中
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <p><span class="icon has-text-info"><i class="fas fa-info-circle"></i></span><span class="text-with-icon">Circlet 上にフォロー情報が登録されていません。</span></p>
      <br>
      <form action="{% url 'fetch_twitter_followings' %}" method="post">
        {% csrf_token %}
        <button class="button is-warning">twitterからフォロー情報を取得</button>
      </form>
    </div>
  </section>
{% endblock %}