{% extends 'base.html' %}

{% block title %}Top{% endblock %}

{% block content %}
  <section class="hero is-warning is-bold is-large">
    <div class="hero-body">
      <div class="container">
        <h1 class="hero-logo">Circlet</h1>
        <h2 class="hero-description">twitterでフォロー中のユーザーの中からイベント参加しそうな人を抽出してカタログ化します。</h2>
        <a class="button is-dark" href="{% url 'login' %}">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
          <span>Login with twitter</span>
        </a>
      </div>
    </div>
  </section>
{% endblock %}
